USE [master]
GO
/****** Object:  Database [QLBH_HUY]    Script Date: 6/8/2023 5:10:09 PM ******/
CREATE DATABASE [QLBH_HUY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_HUY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH_HUY.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_HUY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH_HUY_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_HUY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_HUY]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 6/8/2023 5:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[hoadonID] [int] IDENTITY(1,1) NOT NULL,
	[ngayban] [date] NULL,
	[nguoiban] [nvarchar](50) NULL,
	[hangid] [int] NULL,
	[soluong] [int] NULL,
	[thanhtien] [money] NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[hoadonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/8/2023 5:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[hangID] [int] IDENTITY(1,1) NOT NULL,
	[tenhang] [nvarchar](50) NULL,
	[dongia] [money] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[hangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_SanPham] FOREIGN KEY([hangid])
REFERENCES [dbo].[SanPham] ([hangID])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_SanPham]
GO
USE [master]
GO
