<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_21004063_PhanHoangHuy_T8.Properties.Settings.QLNS_HUYConnectionString"
            connectionString="Data Source=DESKTOP-UDG1TOM\SQLEXPRESS;Initial Catalog=QLNS_HUY;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="_21004063_PhanHoangHuy_T8.Properties.Settings.QLBH_HUYConnectionString"
            connectionString="Data Source=HUYPR0V1P;Initial Catalog=QLBH_HUY;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>