USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 6/15/2023 5:14:49 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[Bophan]    Script Date: 6/15/2023 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bophan](
	[IDBophan] [int] IDENTITY(1,1) NOT NULL,
	[MSBophan] [nvarchar](50) NULL,
	[TenBophan] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bophan] PRIMARY KEY CLUSTERED 
(
	[IDBophan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 6/15/2023 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[IDNhanvien] [int] IDENTITY(1,1) NOT NULL,
	[MSNhanvien] [nvarchar](50) NULL,
	[Hoten] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [bit] NULL,
	[Quyen] [int] NULL,
	[Matkhau] [nvarchar](50) NULL,
	[IDBophan] [int] NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[IDNhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bophan] ON 

INSERT [dbo].[Bophan] ([IDBophan], [MSBophan], [TenBophan]) VALUES (1, N'CIT', N'Công nghệ thông tin')
INSERT [dbo].[Bophan] ([IDBophan], [MSBophan], [TenBophan]) VALUES (2, N'KTL', N'Kinh tế- Luật')
INSERT [dbo].[Bophan] ([IDBophan], [MSBophan], [TenBophan]) VALUES (3, N'CTP', N'Công nghệ thực phẩm')
SET IDENTITY_INSERT [dbo].[Bophan] OFF
SET IDENTITY_INSERT [dbo].[Nhanvien] ON 

INSERT [dbo].[Nhanvien] ([IDNhanvien], [MSNhanvien], [Hoten], [Ngaysinh], [Gioitinh], [Quyen], [Matkhau], [IDBophan]) VALUES (1, N'nv001', N'Phan Hoàng Huy', CAST(N'2003-08-14' AS Date), 1, 1, N'123456', 1)
INSERT [dbo].[Nhanvien] ([IDNhanvien], [MSNhanvien], [Hoten], [Ngaysinh], [Gioitinh], [Quyen], [Matkhau], [IDBophan]) VALUES (2, N'nv002', N'Hồ Chí Nguyên', CAST(N'2003-02-01' AS Date), 1, 2, N'123456', 2)
INSERT [dbo].[Nhanvien] ([IDNhanvien], [MSNhanvien], [Hoten], [Ngaysinh], [Gioitinh], [Quyen], [Matkhau], [IDBophan]) VALUES (3, N'nv003', N'Nguyễn Hà Khánh An', CAST(N'2003-04-26' AS Date), 0, 3, N'123456', 1)
SET IDENTITY_INSERT [dbo].[Nhanvien] OFF
ALTER TABLE [dbo].[Nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_Nhanvien_Bophan] FOREIGN KEY([IDBophan])
REFERENCES [dbo].[Bophan] ([IDBophan])
GO
ALTER TABLE [dbo].[Nhanvien] CHECK CONSTRAINT [FK_Nhanvien_Bophan]
GO
USE [master]
GO
